<div class="col-md-9 pb-3">
  <header>
    <div class="col-12 d-flex justify-content-between p-2 fs-2">Hi, welcome back 
    <button data-bs-target="#modal_menu" data-bs-toggle="modal" class="btn btn-secondary menu_buton">
      <i class="fs-4 fas fa-bars"></i></div>
    </button>
  </header>
  <div class="row">
    <% @statistics.each do |statistic| %>
      <div class="text-center col-md-6">
        <div class="rounded mt-4 <%= statistic[:class] %> py-5">
          <h1 class="text-light"><i class="rounded-circle p-4 <%= statistic[:i_color] %> <%= statistic[:icons] %>"></i></h1>
          <h1 class="fw-bolder"><%= statistic[:number] %></h1>
          <h6><%= statistic[:title] %></h6>
        </div>
      </div>
    <%end%>
  </div>
</div>

