<div class="container">
  <div class="split left">
	<h2>Welcome to the check clock</h2>
	  <div class="centered-form">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>	
		  <div>
			<%= f.email_field :email, autofocus: true, autocomplete: "email",class:"in-email"%>
			  <p>Email</p>
		  </div>
		  <div>			
		    <%= f.password_field :password, autocomplete: "current-password", class:"in-password"%>
			  <p>Password</p>
		  </div>
		  <% if devise_mapping.rememberable? %>
			<div class="field">
			  <%= f.check_box :remember_me %>
			  <%= f.label :remember_me %>
			</div>
		  <% end %>
		  <div>
		    <br>		
		      <button class="button-log">Log in <% f.submit %></button>
		  </div>
		<% end %>
	  </div>
  </div>

  <div class="split right">
    <div class="centered-image">
	  <a href="/"> 
        <%= image_tag 'check-login.jpg'%>
      </a>
    </div>
  </div>
</div>