<div class="container col-md-10 mt-5">
  <div class="float-start pb-5">
    <%= link_to new_employee_path, class: 'btn btn-success' do %>
      <i class="fas fa-plus-circle"> Add new employee </i> 
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="label-form">#</th>
        <th scope="col" class="label-form">Name</th>
        <th scope="col" class="label-form">Email</th>
        <th scope="col" class="label-form">Position</th>
        <th scope="col" class="label-form">Employee Number</th>
        <th scope="col" class="label-form">Private Number</th>
        <th scope="col" class="label-form">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each.with_index(1) do |employee, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= employee.name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.position %></td>
          <td><%= employee.employee_number %></td>
          <td><%= employee.private_number %></td>
          <td>
            <%= link_to '', employee_path(employee), class: 'fas fa-eye btn show-btn' %>
            <%= link_to '', edit_employee_path(employee), class: 'fas fa-edit btn form-btn' %>
            <%= link_to '', employee_path(employee), class: 'fas fa-trash-alt btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
