<%= wicked_pdf_stylesheet_link_tag('reports') %>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>

<h1 class="title-report"><%= @company %> attendance</h1>
<table class="table text-center mt-5">
  <thead>
    <tr>
      <th scope="col">Employee name</th>
      <th scope="col">Email</th>
      <th scope="col">Private number</th>
      <th scope="col">Employee number</th>
      <th scope="col">Check in</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.private_number %></td>
        <td><%= user.employee_number %></td>
        <td><%= user.attendances.first.created_at.to_s(:time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
